
* {
  margin: 0;
  padding: 0;
  outline:0;
  box-sizing:border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #6127bc;
  --primary-light: #b894e4;
  --primary-dark: #3d1f70;
  --accent-1: #8c54b4;
  --accent-2: #b9a7cf;
  --accent-3: #3c4444;
  --light-1: #EDEDED;
  --light-2: #F6F6F6;
  --light-3: #ECDDFF;

  --primary-dark-800: #1D2025;
  --primary-dark-700: #262A31;
  --primary-dark-600: #3A404A;
  --primary-dark-400: #5A6372;
  --primary-dark-200: #7E899A;
  --primary-dark-100: #A9B0BC;

  --accent-dark-800: #064631;
  --accent-dark-600: #0C885F;
  --accent-dark-400: #10B981;
  --accent-dark-200: #14EBA4;
  --accent-dark-100: #8AF5D1;
  --accent-dark-50: #E1FFF5;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



